:root {
    --text-color: #393939;
    --body-color: #ffffff;
    --main-bg-color: rgb(0, 0, 0, 0.8);
    --main-bg-color-hover: rgb(0, 0, 0, 0.4);
    --main-bg-gallery: rgb(255, 255, 255, 0.8);
    --nav-color-hover: rgb(255, 255, 255, 0.7);
    --special-link-color: rgb(69, 197, 122);
    --special-link-color-hover: rgb(69, 197, 122, 0.6);
    --header-bg: black;
    --h1-weight: 600;
    --h1-size: 17px;
    --heading-margin: 10px;
    --card-padding: 30px;
    --card-gap: 30px
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'EB Garamond', serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--body-color);
    background-image: url("/assets/background-image.jpeg");
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}

h1 {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    margin-block: var(--heading-margin);
}

a {
    text-decoration: none;
    color: var(--body-color);
}

button,
.pry-btn {
    display: block;
    background-color: var(--main-bg-color);
    padding: 20px;
    text-align: center;
    width: 200px;
    margin-top: 30px;
    font-size: 22px;
    color: var(--body-color);
    border: none;
    outline: none;
}

button:hover,
.pry-btn:hover {
    background-color: var(--main-bg-color-hover);
}

li {
    list-style: none;
    padding: 5px;
    font-size: 14px;
}

.active {
    border-bottom: 5px solid var(--body-color);
    font-weight: 900;
}

.icon {
    margin: 0;
    font-size: 14px;
}

a:visited {
    color: var(--body-color);
}

.top {
    text-transform: uppercase;
    display: block;
    background-color: var(--header-bg);
    width: 100%;
}

.top-nav {
    display: flex;
    margin: auto;
    padding: 0;
    width: 75%;
    justify-content: center;
}

.navigate-links {
    gap: 10px;
}

.nav-logo {
    position: relative;
}

.nav-links-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    align-content: center;
}

.nav-element {
    display: flex;
    align-items: center;
    align-content: center;
}

.nav-element li:hover {
    color: var(--nav-color-hover);
}


.nav-element li {
    position: relative;
    margin: 10px;
    width: fit-content;
}

.nav-logo a,
.nav-element li a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.nav-element li.active-page:hover {
    color: rgb(255, 255, 255);
    ;
}

.nav-logo img {
    object-fit: contain;
    width: 100px;
    height: 100px;
}

/* error handling */
.input-error {
    border: 2px solid red;
}

#loaderModal {
    background-color: var(--main-bg-color);
}

/* hamburger-menu */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* main content */

.main-container {
    background-color: var(--main-bg-color);
    height: 100%;
    margin-top: 0;
    padding-block: 30px;
}

.card-container {
    background-color: var(--body-color);
    color: var(--text-color);
    width: 75%;
    margin: auto;
}

.hero-list {
    display: flex;
    padding: var(--card-padding);
    gap: var(--card-gap);
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.middle,
.contacts-container {
    display: flex;
    gap: var(--card-gap);
    padding: var(--card-padding);
    align-content: center;
    justify-content: center;
    margin-top: 50px;
}

.contacts,
.appointment,
.updates {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.updates-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-right: 20px;
}

.gallery-preview {
    width: 50%;
}

.shop-view {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

time {
    font-weight: 500;
}

/* contact us and make appoinments */
.address {
    color: orange;
    font-weight: 700;
}

.call-us {
    color: green;
    font-weight: 700;
}

.appointment-info {
    margin-bottom: 10px;
}

.see-prices a {
    color: var(--special-link-color);
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.see-prices a:hover {
    color: var(--special-link-color-hover);
}

.appointment-form {
    margin-top: 10px;
}

.appointment-item {
    display: flex;
    flex-direction: column;
    margin-top: 11px;
}

.appointment-item label {
    margin-bottom: 5px;
}

.details-group {
    display: flex;
    width: 100%;
    gap: 20px;
}

.details-item {
    width: 50%;
}

.appointment-item input,
.appointment-item select {
    height: 40px;
}

.styled-select select {
    margin-right: 10px;
}

.form-btn {
    width: 100%;
}

/* prices and services page */

.big-heading {
    padding: var(--card-padding);
    margin-bottom: 0;
}

.big-heading span {
    margin-left: var(--card-padding);
    padding-left: var(--card-padding);
    line-height: 2.4;
    font-size: 30px;
}

.services-item {
    display: flex;
    gap: var(--card-gap);
    padding: var(--card-padding);
    align-items: baseline;
    align-content: center;
    justify-content: center
}

.price-table {
    margin-bottom: 30px;
}

.services-item_list {
    width: 50%;
}

.services-item_list ul {
    margin: 10px 0;
    padding: 0;
    font-weight: 500;

}

.services-item_list ul li {
    list-style-type: disc;
    margin-left: 25px;
}

.services-item_list p {
    width: 70%;
    margin-bottom: 30px;
}

.custom-table-1 {
    width: auto;
    border: 1px solid var(--header-bg);
    padding: 0;
    border-spacing: 0;
}

.custom-table-1 td {
    width: auto;
    border-top: 1px solid var(--header-bg);
    margin: 0;
    padding: 20px;
}

.custom-table-1 th:last-child,
.custom-table-1 td:last-child {
    text-align: center;
    border-left: 1px solid var(--header-bg);
    width: 150px;
    margin: 0;
}

.custom-table-1 tr th {
    font-size: var(--h1-size);
}

.few-words {
    margin-top: 50px;
    padding: var(--card-padding);
}

.few-words_heading {
    padding: var(--card-padding);
}

.services-item_text {
    display: flex;
}

.short-text {
    width: 50%;
    gap: var(--card-gap);
    padding-inline: 40px;
    margin-bottom: 40px;
}

/* styles for the gallery */
.main-container-gallery {
    background-color: var(--main-bg-gallery);
    height: 100%;
    margin-top: 0;
    padding-block: 30px;
    color: var(--text-color);
}

.page-title {
    display: flex;
    padding: var(--card-padding);
    margin-left: 165px;
    font-size: 24px;
}

.gallery {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    padding: var(--card-padding);
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

figure {
    width: 30%;
    height: 300px;
    margin: 10px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--header-bg);
    width: 100%;
    position: relative;
    gap: 30px;
    margin-top: 30px;
    place-content: center;
    place-items: center;
}

.video {
    background: var(--header-bg);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

source {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* footer styles */
.footer {
    display: block;
    width: 100%;
    background-color: var(--header-bg);
    margin-bottom: 0;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
    gap: 100px;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
}

.social-links h2 {
    padding-left: 65px;
}

.social-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.social-links ul li {
    display: flex;
    gap: 20px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.footer-logo-container a,
.social-links ul li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.link-icon-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
    gap: 5px;
}

.footer-contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
}

.footer-logo-container {
    width: 25%;
    position: relative;
    overflow: hidden;
}

.footer-logo-container img {
    object-fit: contain;
    text-align: center;
    width: 100%;
    height: 100%;
}

/*  open modal for small screens */

.nav-sm-modal {
    position: fixed;
    top: 0;
    left: -100%;
    /* Start off-screen */
    width: 75%;
    max-width: 75%;
    height: 100%;
    background-color: var(--header-bg);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.modal-open {
    left: 0;
    /* Slide into view when open */
}

.nav-links-wrapper-sm {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;

}

.navigate-links-sm {
    display: flex;
    flex-direction: column;

}

.navigate-links-sm li {
    font-size: 18px;
    position: relative;
}

.navigate-links-sm li a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.nav-right-sm {
    padding-left: 10px;
}

.nav-right-sm li {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-left: 0;
    font-size: 18px;
}

/* media queries for medium and small screns */
@media screen and (max-width: 1038px) {

    .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 90%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-links-wrapper {
        display: none;
    }

    .footer {
        display: block;
        width: 100%;
        background-color: var(--header-bg);
    }

    .bottom {
        flex-direction: column;
    }

    .social-links {
        width: 100%;
    }

    .social-links h2 {
        padding-left: 65px;
    }

    .footer-logo-container a,
    .social-links ul li a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    .footer-contacts {
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .footer-logo-container {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .card-container {
        background-color: var(--body-color);
        color: var(--text-color);
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .top-nav {
        width: 90%;
    }

    .hero-list {
        flex-direction: column;
    }

    .middle,
    .contacts-container,
    .services-item,
    .services-item_text {
        flex-direction: column;
        justify-content: center;
    }


    .contacts,
    .appointment,
    .gallery-preview,
    .updates,
    .services-item_list,
    .price-table {
        width: 100%;
    }

    .short-text {
        width: 100%;
        padding-left: 0;
    }

    .big-heading span {
        padding-left: 0;
        margin-left: 0;
    }

    .gallery {
        width: 100%;
    }

    .images-container {
        flex-direction: column;
        width: 100%;
    }

    .gallery-item {
        width: 100vw;
    }

    .figure img {
        width: 100%;
        object-fit: cover;
    }

    .page-title {
        margin-left: 0;
    }

    .videos-container {
        grid-template-columns: 1fr;
    }
}